{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}
    <a href="{{ path('post_index') }}">back to posts</a>
{% endblock %}
